<!-- display navbar -->
<div id="navbar">

	<nav class="navbar navbar-default navbar-static-top">
	  <div class="container-fluid">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	    </div>

	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <ul class="nav navbar-nav">
	      	<li><span class="divider"></span></li>
	        <li><a href="/">Homepage</a></li>
	        <li><span class="divider"></span></li>
	        <li><a href="http://www.twitch.tv/team/familia">Members</a></li>
	        <li><span class="divider"></span></li>
	        <li><a href="apply.php">Join the family</a></li>
	        <li><span class="divider"></span></li>
	      </ul>
	    </div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
	</nav>

</div>